/* Farben als Variablen im :root definieren */
:root {
    /* Hintergrundfarben */
    --background-color: #283d49; /* Dunkles, stimmungsvolles Grau */
    --primary-color: #283d49; /* Dunkler, kühler Grünton */
    --secondary-color: #000000; /* Sehr dunkles Grau mit Blautönen */
    --accent-color: #3d4457; /* Kühle, gedämpfte Blau-Grau-Töne */
    
    /* Button und Interaktionen */
    --button-color: #5c6d77; /* Gedämpftes, stimmungsvolles Grün */
    --button-hover-color: #4f6167; /* Dunkleres Grün für Hover-Effekt */
    
    /* Textfarben */
    --text-color: #e4e9f0; /* Helles, kühles Grau für den Text */
    --subtext-color: #b1b8c1; /* Hellerer Grauton für Subtexte */
    
    /* Log-Bereich und allgemeine Hintergrundfarben */
    --log-bg-color: #2a2e3d; /* Dunkelgrau mit einem Hauch von Blau */
    --log-text-color: #d6dce4; /* Helles, bläuliches Grau für Logs */
    
    /* Grenzen und Trennlinien */
    --border-color: #444b59; /* Dunkleres Grau mit einem Hauch Blau */
    --highlight-color: #2b282880; /* Gedämpftes, fast schwarzes Highlight */
    
    /* Schatten und Transparenzen */
    --shadow-color: rgba(0, 0, 0, 0.3); /* Intensivierter Schatten für Tiefe */
    
    /* Fehlerfarben */
    --error-color: #d9534f; /* Dunkles Rot für Fehler */
    --error-hover-color: #c9302c; /* Etwas dunkleres Rot für Hover */
    
    /* Hintergrund für Overlays */
    --dark-bg-color: rgba(0, 0, 0, 0.95); /* Dunklerer, fast schwarzer Hintergrund */
}


/* Grundlegendes Styling */
body {
    font-family: 'Roboto', sans-serif;
    background: var(--background-color);
    margin: 0;
    padding: 0;
    color: var(--text-color);
}

/* Titel und Untertitel */
.titleClass {
    background-color: var(--secondary-color);
    padding: 5px;
    border-bottom: 1px solid var(--highlight-color);
}

#gameTitle {
    font-size: 1.5em;
    font-weight: bold;
    color: var(--primary-color);
    margin: 0;
    text-align: center;
    letter-spacing: 2px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

#subtitle {
    font-size: 0.6em;
    color: var(--subtext-color);
    text-align: center;
    margin-top: 10px;
    font-style: italic;
    letter-spacing: 1px;
    opacity: 0.8;
}

/* Hauptmenü-Overlay */
#mainMenu {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: var(--dark-bg-color);
    color: #fff;
    z-index: 2000;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

#mainMenu h1 {
    font-size: 2.5em;
    margin-bottom: 30px;
    text-align: center;
    color: var(--accent-color);
}

#mainMenu button {
    padding: 15px 30px;
    margin: 10px;
    font-size: 1.1em;
    cursor: pointer;
    width: 250px;
    background: var(--accent-color);
    border: none;
    color: white;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease;
}

#mainMenu button:hover {
    background: #d69c1e;
}

/* Spielbereich */


/* Game Log */
#gameLogContainer {
    background: var(--log-bg-color);
    border-top: 1px solid var(--border-color);
    height: 120px;
    overflow-y: auto;
    background: var(--log-bg-color);
    border-radius: 8px;
    margin: 5px;
    padding: 10px;
    box-shadow: 0 2px 4px var(--shadow-color);
}

#gameLog {
    font-size: 1em;
    line-height: 1.5em;
    color: var(--log-text-color);

}

/* Enemies-Bereich */
#enemyArea {
    background: var(--log-bg-color);
    border-top: 1px solid var(--border-color);
    border-radius: 8px;
    padding: 15px;

    box-shadow: 0 2px 4px var(--shadow-color);
    height: 220px;
    margin: 5px;
}

#enemyArea h2 {
    margin-top: 0;
    font-size: 1.3em;
    color: var(--log-text-color);
}

#enemiesList {
    max-height: 220px;
    overflow-y: auto;
    margin-top: 10px;
}

.enemy {
    border-bottom: 1px solid var(--border-color);
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1em;
    color: var(--subtext-color);
}

.enemy:last-child {
    border-bottom: none;
}

/* Spielerbereich */
#playerArea {
    background: var(--log-bg-color);
    border-top: 1px solid var(--border-color);
    padding: 15px;
    box-shadow: 0 -3px 8px var(--shadow-color);
    margin:5px;
    border-radius: 15px;
}

.player-header h2 {
    margin: 0;
    font-size: 1.2em;
    color: var(--log-text-color);
}

/* Spielerstatistiken */
.player-stats {
    display: flex;
    justify-content: space-around;
    margin: 15px 0;
    font-size: 1.1em;
    color: var(--log-text-color);
}

/* Progressbar */
.progress-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
    
}

progress {
    width: 70%;
    height: 10px;
    border-radius: 8px;
    background-color: var(--secondary-color);
}

/* Upgrade-Buttons nebeneinander */
#upgrades {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    flex-wrap: wrap;
    margin-top: 15px;
}

#upgrades button {
    flex: 1;
    margin: 0 5px;
    padding: 12px;
    font-size: 1em;
    cursor: pointer;
    background-color: var(--button-color);
    color: white;
    border: none;
    border-radius: 8px;
    transition: background-color 0.3s ease;
}

#upgrades button:hover {
    background-color: var(--button-hover-color);
}



/* Grundlegende Darstellung der Tabs */
#Tabs {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--secondary-color);
  }
  
  #Tabs button {
    font-size: 0.9em; /* Kleinere Schriftgröße für mobile Ansicht */
    background-color: var(--secondary-color);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    color:var(--primary-color);
    text-align: center;
  }
  
  /* Aktives Tab - Optional */
  #Tabs button.active {
    background-color: var(--secondary-color);
    font-weight: bold;
  }
  
  /* Optimierungen für noch kleinere Bildschirme (z.B. Smartphones) */
  @media (max-width: 600px) {
    #Tabs {
      padding: 5px 10px; /* Etwas mehr Polsterung auf kleinen Geräten */
    }
  
    #Tabs button {
      font-size: 0.8em; /* Noch kleinere Schriftgröße auf kleinen Bildschirmen */
      padding: 6px 12px; /* Etwas weniger Polsterung */
      min-width: 60px; /* Noch schmalere Tabs */
    }
  }
  

/* Options Overlay */
#optionsOverlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.8);
    z-index: 3000;
    display: none;
    align-items: center;
    justify-content: center;
}

#optionsContent {
    background: var(--log-bg-color);
    padding: 25px;
    border-radius: 12px;
    text-align: center;
    width: 90%;
    max-width: 400px;
    box-shadow: 0 4px 12px var(--shadow-color);
}

#closeOptions {
    background-color: var(--error-color);
    color: white;
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    border-radius: 8px;
    border: none;
    transition: background-color 0.3s ease;
}

#closeOptions:hover {
    background-color: var(--error-hover-color);
}

/* Responsive Anpassungen */
@media (max-width: 600px) {

    #mainMenu button {
        width: 100%;
    }



    .player-stats {
        align-items: center;
        font-size: 1em;
    }

    #upgrades button {
        font-size: 1em;
    }

    #gameLogContainer {
        height: 100px;
    }
}
